/.vscode
/1.c
/a.c
/a.exe
/c.c
/CircularQueue.c
/CLL.c
/DLL.c
/file1.c
/Functions1.c
/Functions2.c
/Functions3.c
/LinkedList.c
/new.c
/new1.c
/Patterns.c
/practice1.c
/Prog.c
/Prog1.c
/Program1.c
/Program10.c
/Program11.c
/Program12.c
/Program13.c
/Program14.c
/Program2.c
/Program3.c
/Program4.c
/Program5.c
/Program6.c
/Program7.c
/Program8.c
/Program9.c
/Project1.c
/Queue.c
/Stack.c
/text.txt